# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\_Dane\_PRIVATE\Dokumenty\SZKOLA\_STUDIA\ITN\MAS\_MOJE\Projekt\Strzelnica\Strzelnica\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
